<svg width="83.605mm" height="83.605mm" version="1.1" viewBox="0 0 83.605 83.605" xmlns="http://www.w3.org/2000/svg">
 <g transform="translate(-105.8 -59.054)">
  <rect x="105.8" y="59.054" width="20.105" height="20.105" style="fill:{{base00-hex}};stroke-width:10"/>
  <rect x="126.97" y="59.054" width="20.105" height="20.105" style="fill:{{base01-hex}};stroke-width:10"/>
  <rect x="148.13" y="59.054" width="20.105" height="20.105" style="fill:{{base02-hex}};stroke-width:10"/>
  <rect x="169.3" y="59.054" width="20.105" height="20.105" style="fill:{{base03-hex}};stroke-width:10"/>
  <rect x="105.8" y="80.22" width="20.105" height="20.105" style="fill:{{base04-hex}};stroke-width:10"/>
  <rect x="126.97" y="80.22" width="20.105" height="20.105" style="fill:{{base05-hex}};stroke-width:10"/>
  <rect x="148.13" y="80.22" width="20.105" height="20.105" style="fill:{{base06-hex}};stroke-width:10"/>
  <rect x="169.3" y="80.22" width="20.105" height="20.105" style="fill:{{base07-hex}};stroke-width:10"/>
  <rect x="105.8" y="101.39" width="20.105" height="20.105" style="fill:{{base08-hex}};stroke-width:10"/>
  <rect x="126.97" y="101.39" width="20.105" height="20.105" style="fill:{{base09-hex}};stroke-width:10"/>
  <rect x="148.13" y="101.39" width="20.105" height="20.105" style="fill:{{base0A-hex}};stroke-width:10"/>
  <rect x="169.3" y="101.39" width="20.105" height="20.105" style="fill:{{base0B-hex}};stroke-width:10"/>
  <rect x="105.8" y="122.55" width="20.105" height="20.105" style="fill:{{base0C-hex}};stroke-width:10"/>
  <rect x="126.97" y="122.55" width="20.105" height="20.105" style="fill:{{base0D-hex}};stroke-width:10"/>
  <rect x="148.13" y="122.55" width="20.105" height="20.105" style="fill:{{base0E-hex}};stroke-width:10"/>
  <rect x="169.3" y="122.55" width="20.105" height="20.105" style="fill:{{base0F-hex}};stroke-width:10"/>
 </g>
</svg>
